body{
    margin: 0;
    display: grid;
    background-color: #eaf2ef;
    grid-template-columns: 20% auto;
    grid-auto-rows: 62px auto;
    grid-template-areas:
        "top top"
        "sidebar main";
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #eaf2ef;
    border-bottom: 5px solid #1b264f;
    color: #1b264f;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.top-bar h2 {
    margin: 0;
    font-size: 24px;
    cursor: pointer;
}

.container{
    grid-area: main;
    width: 800px;
    margin: 20px auto auto;
}

.sidebar {
    grid-area: sidebar;
    background-color: #b1c0be;
    height: 100vh; /* Hinzugefügt */
    position: fixed;
    left:0;
    top: 83px;
}

.sidebar ul {
    list-style: none;
    padding: 10px;
}

.sidebar li {
    margin-top: 30px;
}

.sidebar a {
    display: block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #1b264f;
    text-align: left;
}

.sidebar a:hover {
    background-color: #1b264f;
    color: white;
    border-radius: 5px;
}

.user_div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 1% 0px auto;
    font-size: 40px;
    cursor: pointer;
}

#currentUser{
    font-size: 18px;
    font-style: italic;
}

.font-white{
    color: whitesmoke;
}

.title_tb{
    display: flex;
    align-items: center;
    margin-right: auto; /* Element fast ganz rechts ausrichten */
    margin-left: 1%;
    font-size: 40px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1b264f;
}

.input-form, .recipe {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.custom-input, .submit-btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f2f2f2;
    color: #333333;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
}

.delete-account{
    background-color: #81223F !important;
}

#error-container{
    color: darkred;
    font-style: italic;
}

.logo{
    height: 70px;
    margin-right: 25px;
}

input[type="submit"], .submit-btn, .edit-btn, .delete-btn, .save-btn{
    background-color: #1b264f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover, .submit-btn, .edit-btn, .delete-btn, .save-btn {
    background-color: #1b264f;
}

.delete-btn{
    background-color: #81223F !important;
}

.recipe{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.recipe-content{
    display: flex;
    flex-direction: row;
    margin: 18px 0px;
}

.recipe-content-img, .recipe-content-ingredients {
    width: 50%;
}

.recipe-content-img > img{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

.recipe-content-ingredients > ul > li{
    margin-left: 35px;
}