.sidebar {
    grid-area: sidebar;
    background-color: #b1c0be;
    height: 100vh; /* Hinzugefügt */
    position: fixed;
    top: 10%;
    bottom: 0;
}

.top-bar {
    grid-area: top;
    position: fixed;
    top: 0;
    width: 100%;
}